* {
  transition: 0.3s;
}

body {
  background-color: #000000;
}

.home {
  background-color: white;
}

.card {
  width: 20rem;
  max-height: 520px;
  min-height: 520px;
}

.half {
  width: 50%;
}

/* body {
  background-color: #f5f5f7 !important;
} */

/* img {
    width: 17rem !important;
    height: 450px;
  } */

.smartphones-on {
  width: 17rem !important;
  height: 220px !important;
}

.smartphones-off {
  width: 17rem !important;
  height: 320px !important;
}

.laptops-on {
  width: 17rem !important;
  height: 225px;
}

.laptops-off {
  width: 17rem !important;
  height: 250px;
}

.tablets-on {
  width: 17rem !important;
  height: 200px;
}

.tablets-off {
  width: 17rem !important;
  height: 250px;
}

.watchs-on {
  width: 17rem !important;
  height: 200px;
}

.watchs-off {
  width: 17rem !important;
  height: 300px;
}
